<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <meta charset="UTF-8">
    <title>Browse</title>
</head>

<body>

    <div id="cardTemplates" hidden>
        <div th:replace="~{fragments/card :: hoverCardTemplate(cardType='deck')}"></div>
        <div th:replace="~{fragments/card :: hoverCardTemplate(cardType='cardGroup')}"></div>
        <div th:replace="~{fragments/card :: hoverCardTemplate(cardType='mindcard')}"></div>
        <div th:replace="~{fragments/card :: hoverCardTemplate(cardType='infocard')}"></div>
    </div>

    <th:block th:insert="~{fragments/pageLayout :: navbar('browse')}"></th:block>

    <div class="maincontainer">

        <th:block th:insert="~{fragments/browse :: searchBar(url='/browse')}"></th:block>

        <th:block th:insert="~{fragments/browse :: browseCategories(${null})}"></th:block>

        <div style="text-align: center;">
            <div class="card-grid">
                <th:block th:each="deck: ${decks}">
                    <div th:replace="~{fragments/card :: browserCard(cardElement=${deck},cardType='deck')}" style="flex: 0 0 auto;"></div>
                </th:block>
            </div>
        </div>

    </div>

    <script th:src="@{/javascript/cardUtility.js}"></script>
    <script th:src="@{/javascript/markdown.js}"></script>
    <script th:src="@{/javascript/browserCards.js}"></script>
    <script th:if="${session.user}" th:src="@{/javascript/favourite.js}"></script>

</body>