<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <style>
        body {
            background-color: #444;
        }
    </style>

    <meta charset="UTF-8">
    <title th:text="${group.card.title}">Group</title>
</head>

<body>

    <th:block th:insert="~{fragments/pageLayout :: navbar('')}"></th:block>

    <div class="maincontainer">

        <a id="parentButton" th:text="${deck.card.title}" th:href="@{/deck/__${deck.card.getPrimaryKey()}__}">Deck</a>

        <div th:replace="~{fragments/card :: card(isMain=${true},cardElement=${group},cardType='cardgroup',cardWidth=${774})}"></div>

        <hr>

    </div>

    <script th:src="@{/javascript/cardedit.js}" th:inline="javascript"></script>

</body>