<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/fd57869c39.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <style>
        body {
            background-color: #444;
        }
    </style>

    <meta charset="UTF-8">
    <title th:text="${mindcard.card.title}">Mindcard</title>
</head>

<body>

    <span id="cardTemplates" hidden>
        <div th:replace="~{fragments/card :: cardDisplayTemplate(cardType='mindcard',cardWidth=${774},isOwned=${isOwned})}"></div>
        <div th:replace="~{fragments/card :: cardDisplayTemplate(cardType='infocard',cardWidth=${500},isOwned=${isOwned})}"></div>
        <div th:replace="~{fragments/card :: cardEditor(cardType='mindcard',cardWidth=${774})}"></div>
        <div th:replace="~{fragments/card :: cardEditor(cardType='infocard',cardWidth=${500})}"></div>

        <div th:replace="~{fragments/card :: hoverCardTemplate(cardType='deck')}"></div>
        <div th:replace="~{fragments/card :: hoverCardTemplate(cardType='cardGroup')}"></div>
        <div th:replace="~{fragments/card :: hoverCardTemplate(cardType='mindcard')}"></div>
        <div th:replace="~{fragments/card :: hoverCardTemplate(cardType='infocard')}"></div>
    </span>

    <th:block th:insert="~{fragments/pageLayout :: navbar('')}"></th:block>

    <div class="maincontainer">

        <form th:action="|/deck/${deck.card.getDeckId()}|" method="get">
            <input class="searchBar" type="search" name="search"/>
        </form>

        <a id="parentButton" th:text="${deck.card.title}" th:href="@{/deck/__${deck.card.getPrimaryKey()}__}">Deck</a>

        <div th:replace="~{fragments/card :: cardDisplay(isMain=${true},cardElement=${mindcard},cardType='mindcard',cardWidth=${774},isOwned=${isOwned})}"></div>

        <br>

        <div>
            <div class="infocard-grid">

                <th:block th:each="infocard: ${infocards}">
                    <div th:replace="~{fragments/card :: cardDisplay(isMain=${false},cardElement=${infocard},cardType='infocard',cardWidth=${500},isOwned=${isOwned})}"></div>
                </th:block>


                <div th:if="${isOwned}" class="card infocard infocardAdder">
                    <div class="cardBody">
                        <i class="fas fa-plus plusSign"></i>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <script th:src="@{/javascript/cardUtility.js}"></script>
    <script th:src="@{/javascript/markdown.js}"></script>
    <script th:src="@{/javascript/cardEdit.js}"></script>

</body>