<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" th:href="@{/css/cards.css}"/>

    <style>
        body {
            background-color: #444;
        }
    </style>

    <meta charset="UTF-8">
    <title th:text="${mindcard.title}">Mindcard</title>
</head>

<body>

<th:block th:insert="~{fragments/pageLayout :: navbar('')}"></th:block>

<form th:action="@{/mindcard(id=${mindcard.cardId})}" method="post" th:object="${mindcard}">
<div th:replace="~{fragments/card :: cardEditor(isMain=${true},cardElement=${mindcard},hasTitle=${true})}"></div>
</form>

<hr>

<div style="text-align: center;">
    <div class="infocard-grid">
        <th:block th:each="infocard: ${infocards}">
            <form th:action="@{/updateInfocard(id=${infocard.cardId})}" method="post" th:object="${infocard}">
            <div th:replace="~{fragments/card :: cardEditor(isMain=${false},cardElement=${infocard},hasTitle=${false})}" style="flex: 0 0 auto;"></div>
            </form>
        </th:block>
    </div>
</div>

</body>