<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/cards.css}"/>

    <style>
        body {
            background-color: #444;
        }
    </style>

    <meta charset="UTF-8">
    <title th:text="${cardElements.mindcard.cardObject.title}">Mindcard</title>
</head>

<body>

<th:block th:insert="~{fragments/pageLayout :: navbar('')}"></th:block>

<div th:replace="~{fragments/card :: card(isMain=${true},cardElement=${cardElements.mindcard},cardType='mindcard')}"></div>

<hr>

<div style="text-align: center;">
    <div class="infocard-grid">
        <th:block th:each="infocard: ${cardElements.infocards}">
            <div th:replace="~{fragments/card :: card(isMain=${false},cardElement=${infocard},cardType='infocard')}" style="flex: 0 0 auto;"></div>
        </th:block>
    </div>
</div>

<script th:src="@{/javascript/markdown.js}"></script>
<script th:src="@{/javascript/cardedit.js}" th:inline="javascript"></script>

</body>