<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" th:href="@{/css/cards.css}"/>

    <style>
        body {
            background-color: #444;
        }
    </style>

    <meta charset="UTF-8">
    <title th:text="${cardElements.mindcard.title}">Mindcard</title>
</head>

<body>

    <th:block th:insert="~{fragments/pageLayout :: navbar('')}"></th:block>

    <form th:action="@{/saveMindcard(id=${cardElements.mindcard.cardId})}" method="post" th:object="${cardElements}">
        <div th:replace="~{fragments/card :: cardEditor(isMain=${true},cardElement=${cardElements.mindcard},fieldName='mindcard')}"></div>

        <hr>

        <div style="text-align: center;">
            <div class="infocard-grid">
                <th:block th:each="infocard,stat : ${cardElements.infocards}">
                    <div th:replace="~{fragments/card :: cardEditor(isMain=${false},cardElement=${infocard},fieldName='infocards[__${stat.index}__]')}" style="flex: 0 0 auto;"></div>
                </th:block>
            </div>
        </div>

        <button type="submit" class="saveButton" >Save</button>

    </form>

</body>