<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
</head>

<body>

    <th:block th:fragment="searchBar(url)">
        <form th:action="${url}" method="get" class="searchBar">
            <input type="search" name="search" placeholder="Search">
            <button type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
    </th:block>

    <th:block th:fragment="browseCategories(categoryType)">
        <div class="browseCategories">
            <a th:href="@{/browse}" th:classappend="${categoryType==null} ? 'active' : ''">Random</a>
            <a th:href="@{/browse(sort='newest')}" th:classappend="${categoryType=='newest'} ? 'active' : ''">Newest</a>
            <a th:href="@{/browse(sort='popular')}" th:classappend="${categoryType=='popular'} ? 'active' : ''">Popular</a>
        </div>
    </th:block>

    <th:block th:fragment="pageNavigation(url,sortType,currentPage)">
        <div style="margin: auto; display: flex; justify-content: center;">
            <form th:unless="${currentPage == null || currentPage <= 1}" th:action="|@{${url}}|" method="get">
                <input type="hidden" name="sort" th:value="${sortType}"/>
                <input type="hidden" name="page" th:value="${currentPage-1}"/>
                <button type="submit" class="changePageButton previousPageButton"><i class="fa-solid fa-caret-left"></i></i></button>
            </form>
            <p th:text="|Page ${currentPage}|">Page 0</p>
            <form th:action="|@{${url}}|" method="get">
                <input type="hidden" name="sort" th:value="${sortType}"/>
                <input type="hidden" name="page" th:value="${currentPage+1}"/>
                <button type="submit" class="changePageButton nextPageButton"><i class="fa-solid fa-caret-right"></i></button>
            </form>
        </div>
    </th:block>

</body>
</html>