<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <link rel="stylesheet" th:href="@{/css/cards.css}"/>
</head>

<body>

<th:block th:fragment="card(cardElement,cardType)" th:with="isMain=${isMain} ?: ${false}, isOwner=${isOwner} ?: ${false}">
    <div class="card" th:classappend="${isMain} ? 'card-main' : ''" style="margin: auto;">
        <p hidden class="cardType" th:text="${cardType}"></p>
        <p hidden class="cardId" th:text="${cardElement.cardObject.getPrimaryKey()}"></p>
        <p hidden class="imageId" th:text="${cardElement.image} ? ${cardElement.image.imageId} : 0"></p>
        <img th:if="${cardElement.image != null && cardElement.image.imagePath != ''}" th:src="@{${cardElement.image.imagePath}}" class="cardimg">
        <div class="cardtext" th:classappend="${cardElement.image != null && cardElement.image.imagePath != ''} ? 'cardtext-right' : 'cardtext-full'">
            <h4 th:if="${cardElement.cardObject instanceof T(com.raffier.mindcards.model.table.TitledCardTable)}" class="title" th:text="${cardElement.cardObject.title}"><b> MindcardTitle </b></h4>
            <p hidden class="description" th:text="${cardElement.cardObject.description}"> Description </p>
            <p class="unescapedDesc" th:utext="${cardElement.unescapedDesc}"> Description </p>
        </div>
        <button th:if="${isOwner}" class="editCardButton">Edit</button>
    </div>
</th:block>

<th:block th:fragment="cardEditor(cardElement,cardType)" th:with="isMain=${isMain} ?: ${false}">
    <div class="card" th:classappend="${isMain} ? 'card-main' : ''" style="margin: auto;">
        <p hidden class="cardType" th:text="${cardType}"></p>
        <p hidden class="cardId" th:text="${cardElement.cardObject.getPrimaryKey()}"></p>
        <p hidden class="imageId" th:text="${cardElement.image} ? ${cardElement.image.imageId} : 0"></p>
        <img th:if="${cardElement.image != null && cardElement.image.imagePath != ''}" th:src="@{${cardElement.image.imagePath}}" class="cardimg">
        <div class="cardtext" th:classappend="${cardElement.image != null && cardElement.image.imagePath != ''} ? 'cardtext-right' : 'cardtext-full'">
            <input th:if="${cardElement.cardObject instanceof T(com.raffier.mindcards.model.table.TitledCardTable)}" class="title" type="text" th:value="${cardElement.cardObject.title}" /><br/>
            <input class="description" type="text" th:value="${cardElement.cardObject.description}" style="width: 50%; height: 80%;" /><br/>
        </div>
        <button class="saveCardButton">Save</button>
    </div>
</th:block>

</body>
</html>