<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
</head>

<body>

<th:block th:fragment="navbar(module)">
    <div class="navbar">
        <a th:href="@{/home}" th:classappend="${module == 'home'} ? 'active' : ''">Home</a>
        <a th:href="@{/browse}" th:classappend="${module == 'browse'} ? 'active' : ''">Browse</a>
        <th:block th:unless="${session.user}">
            <a th:href="@{/login(return=${#httpServletRequest.requestURI})}" th:classappend="${module == 'login'} ? 'active' : ''">Login</a>
            <a th:href="@{/register(return=${#httpServletRequest.requestURI})}" th:classappend="${module == 'register'} ? 'active' : ''">Register</a>
        </th:block>
        <th:block th:if="${session.user}">
            <a th:href="@{/revise}" th:classappend="${module == 'revise'} ? 'active' : ''">Revise</a>
            <a th:href="@{/profile}" th:classappend="${module == 'profile'} ? 'active' : ''" th:text="${session.user} ? ${session.user.username} : 'Profile'">Profile</a>
            <a th:href="@{/logout}" class="logout">Logout</a>
        </th:block>
    </div>
</th:block>

<th:block th:fragment="pageNavigation(currentPage)">
    <div style="margin: auto; display: flex; justify-content: center;">
        <input th:unless="${currentPage == null || currentPage <= 1}" type="image" class="previousPageButton" th:src="@{/images/asset/previousPage.png}" style="float: left; width: 50px; height: 50px;" onclick="incrementPage(-1)"/>
        <p th:text="|Page ${currentPage}|" style="float: left;">Page 0</p>
        <input type="image" class="nextPageButton" th:src="@{/images/asset/nextPage.png}" style="width: 50px; height: 50px;" th:onclick="incrementPage(1)"/>
    </div>
</th:block>

</body>
</html>