<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
</head>

<body>

<th:block th:fragment="navbar(module)">
    <div class="navbar">
        <a th:href="@{/home}" th:classappend="${module == 'home'} ? 'active' : ''">Home</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
        <div class="navbar-right">
            <a th:unless="${session.user}" th:href="@{/login(return=${#httpServletRequest.requestURI})}" th:classappend="${module == 'login'} ? 'active' : ''">Login</a>
            <th:block th:if="${session.user}">
                <a th:href="@{/profile}" th:classappend="${module == 'profile'} ? 'active' : ''" th:text="${session.user} ? ${session.user.username} : 'Profile'">Profile</a>
                <a th:href="@{/logout}" class="logout">Logout</a>
            </th:block>
        </div>
    </div>
    <br style="height:10px;">
</th:block>

</body>
</html>