<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <style>
        body {
            background-color: #444;
        }
    </style>

    <meta charset="UTF-8">
    <title>Error</title>
</head>

<body>

    <div th:insert="~{fragments/pageLayout :: navbar('')}"></div>

    <div th:fragment="error" th:with="title=${title} ?: 'Error', message=${message} ?: 'Error encountered...'" style="align-text: center;">

        <h1 th:text="${title}">Error</h1>

        <h3 th:text="${message}">Error encountered...</h3>

    </div>

</body>