
/* parent button */
#parentButton {
    cursor: pointer;
    transition: 0.2s ease;
    vertical-align: middle;
}

#parentButton:hover {
    color: #f95;
}

#parentButton i {
    font-size: 4rem;
    vertical-align: middle;
}

#parentButton a {
    vertical-align: middle;
    display: inline-block;
}


/* search bar */
form.searchBar {
    margin-left: calc(25%);
    width: 50%;
    height: 3rem;
    background: #333;
    border-radius: 1rem;
    border-style: hidden;
    display: flex;
}

form.searchBar input[type="search"] {
    width: calc(100% - 3rem);
    height: 100%;
    background: #0000;
    border: hidden;
    margin-left: 1em;
    font-size: 1rem;
    font-family: inherit;
    color: #fff;
}

form.searchBar input:focus {
    outline: none;
}

form.searchBar>* {
    display: inline-block;
}

form.searchBar button {
    width: 3rem;
    background: #333;
    font-size: 1.2rem;
    cursor: pointer;
}


/* cards */
.card {
    position: relative;
    width: 300px;
    height: 180px;
    margin: 0 auto;
}

.card.infocard {
    width: 500px;
    height: 280px;
}

.card-main {
    width: 774px;
    height: 417px;
}

.cardBody {
    height: calc(100% - 30px);
    width: 100%;

    border-radius: 1rem;
    background-color: #333;
    overflow-wrap: anywhere;

    transition: 0.2s ease;
}

.cardBody:hover {
    box-shadow: 6px 6px 0px 0px #0002;
}

.card-text {
    text-align: left;
    color: #f2f2f2;
    margin-left: 25%;
    padding: 1em 1em;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 1rem 0 0 1rem;
}

.card-decoration {
    float: left;
    width: 25%;
    height: 100%;
    border-radius: 1rem 0 0 1rem;
    overflow-x: clip;
}

.infocard .card-decoration {
    background-color: #555;
}

.mindcard .card-decoration {
    background-color: #5c5;
}

.cardGroup .card-decoration {
    background-color: #55c;
}

.deck .card-decoration {
    background-color: #c55;
}

.card-decoration .imgcontainer {
    margin-left: 1rem;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: fit;
}

.card-view .title {
    margin: 2% 0%;
    font-size: 80%;
}

.card-view .unescapedDesc {
    font-size: 80%;
}

textarea.description {
    width: 100%;
    height: 80%;
    background-color: #444;
    color: #fff;
    resize: none;
}

input.title {
    background-color: #444;
    color: #fff;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: #666;
}

.browserCard .cardBody {
    cursor: pointer;
}

a .card.hoverCard {
    opacity: 0;

    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -150px;

    transition: 0.2s ease;
}

a:hover .card.hoverCard {
    opacity: 1;
}

.hoverCard .cardBody {
    box-shadow: 6px 6px 0px 0px #0002;
}

.mainCardAdder {
    width: 50px;
    height: 50px;
    background-color: #333;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;

    cursor: pointer;
}

.groupMindcardAdder {
    width: 50px;
    height: 50px;
    background-color: #333;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;

    cursor: pointer;
}
.infocardAdder {
    margin: auto;
    cursor: pointer;
}

.plusSign {
    width: 100%;
    height: 100%;
    text-align: center;
    color: #999;

    transition: 0.2s ease;
}

.plusSign:hover {
    color: #f95;
    transform: scale(1.2);
}

.mainCardAdder .plusSign {
    line-height: 50px;
    font-size: 2rem;
}

.groupMindcardAdder .plusSign {
    line-height: 50px;
    font-size: 2rem;
}

.infocardAdder .plusSign {
    line-height: 250px;
    font-size: 10rem;
}

.groupMindcardPopup {
    z-index: 2;
    position: absolute;
    width: calc(100% - 8rem);
    height: 100%;
    left: 8rem;
    top: 0;
    opacity: 1;
    display: flex;
    justify-content: center;

    background-color: #0006;

    transition: 0.2s ease;
}

.groupMindcardPopup[hidden] {
    display: none;
    opacity: 0;
}

.popupInterface {
    width: 80%;
    height: 80%;
    margin: auto;

    background-color: #444;
    border-radius: 1rem;
}

.popupSearch {
    width: calc(100% - 50px);
    margin-left: 1rem;
}

.popupSearch .searchBar {
    width: 100%;
    height: 100%;
}

.closeButton {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 50px;
    color: #fff;

    transition: 0.2s ease;
}

.closeButton:hover {
    color: #f95;
}

.popupInterface .card-grid {
    height: calc(100% - 50px);
}

.infocard-grid {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 16px;
    padding: 16px;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 16px;
    padding: 16px;
}

.cornerButtons {
    margin-left: 1rem;
    margin-right: 1rem;
}

.cornerButtons>* {
    display: inline-block;
    background-color: #333;
    height: 30px;
    border-radius: 0 0 1em 1em;
    line-height: 30px;
    vertical-align: middle

    transition: 0.2s;

    cursor: pointer;
}

.favouriteButton {
    display: flex;
    float: left;
}

.favouriteButton span {
    height: 30px;
    float: left;
    padding: 0 0.25rem;
}

.favouriteHeart {
    font-size: 21px;
}

.favouriteNumber {
    font-size: 18px;
}

button.removeFromGroupButton:hover {
    color: #f55;
}

button {
    transition: 0.2s ease;
    border-radius: 1rem;
    border: none;
    background-color: #444;

    font-family: Varela Round;
    color: #fff;
}

button:hover {
    color: #f95;
}

.card button {
    transition: 0.2s ease;
}

.card.displayCard button {
    opacity: 0;
}

.card.displayCard:hover button {
    opacity: 1;
}

blockquote {
    background: #444;
    padding: .5em 10px .5em 10px;
    border-radius: 1rem;
    border-left: 10px solid #555;
    margin: 1em 5px;
}

/* Math Expression */
.mathExp {
    display: inline-block;
    vertical-align: middle;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-family: Times New Roman;
}

.mathExp span {
    display: inline-block;
    vertical-align: middle;
}

.variables {
    font-style: italic;
}

.term {
    padding-left: 0.1em;
    padding-right: 0.1em;
}

.fracLine {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}

.fracExp {
    text-align: center;
}

.sqrtLine {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 0;
}