@import "navbar.css";

.card {
    width: 516px;
    height: 250px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: #333;
    margin: 0 auto;
}

.card-main {
    width: 774px;
    height: 375px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardtext {
    text-align: left;
    color: #f2f2f2;
}

.cardtext-right {
    margin-left: 50%;
    padding: 20px 16px;
}

.cardtext-full {
    padding: 20px 32px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 5px 0 0 5px;
}

.cardimg {
    width:50%;
    float: left;
}

.infocard-grid {
    display: flex;
    flex-wrap:wrap;
    grid-gap: 16px;
    padding: 16px;
}

.editCardButton {
    color: #f2f2f2;
}

.saveButton {
    position: sticky;
    bottom: 0;
}