<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <meta charset="UTF-8">
    <title>Mindcards</title>
</head>

<body align="center">

    <th:block th:insert="~{fragments/pageLayout :: navbar('home')}"></th:block>

    <div class="maincontainer">
        <p> Home </p>
    </div>

</body>
</html>