<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <meta charset="UTF-8">
    <title>Mindcards</title>
</head>

<body align="center">

    <th:block th:insert="~{fragments/pageLayout :: navbar('home')}"></th:block>

    <div class="maincontainer">
        <h3>Welcome to Mindcards!</h3>
        <p>Start by browsing hundreds of cards defaby other people</p>
        <a class="homenavigatebutton" href="/browse"> <i class="fa-solid fa-rectangle-list"></i> Browse</a>
        <p>or create your own</p>
        <a class="homenavigatebutton" href="/register?return=/home"> <i class="fa-solid fa-right-to-bracket"></i> Sign Up</a>
    </div>

</body>
</html>