<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  <link rel="stylesheet" th:href="@{/css/navbar.css}"/>

  <style>
        body {
            background-color: #444;
        }
    </style>

  <meta charset="UTF-8">
  <title>Mindcards Login</title>
</head>

<body>

<th:block th:insert="~{fragments/pageLayout :: navbar('login')}"></th:block>

<div align="center">
  <h1>User Login</h1>
  <form th:action="@{/login(return=${param.return ?: ''})}" method="post" th:object="${submission}">

    <label>E-mail:</label>
    <input type="text" th:field="*{email}" /><br/>

    <label>Password:</label>
    <input type="password" th:field="*{password}" /><br/>

    <label th:if="${loginError?.invalidLogin}" style="color: #f77">Invalid e-mail or password...<br/></label>
    <label th:if="${loginError?.wrongEmailFormat}" style="color: #f77">E-Mail must be in the form "name@mailservice"<br/></label>
    <label th:if="${loginError?.wrongPasswordFormat}" style="color: #f77">Password must have at least one number, lowercase alphabet, and uppercase alphabet each and be at least 8 characters<br/></label>

    <button type="submit">Login</button>
  </form>
</div>

</body>
</html>