<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" th:href="@{/css/mindcardView.css}"/>
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>

    <style>
        body {
            background-color: #444;
        }
    </style>

    <meta charset="UTF-8">
    <title th:text="${mindcard.title}">Mindcard</title>
</head>

<body>

<div th:insert="~{fragments/pageLayout :: navbar}"></div>

<br style="height:10px;">

<div th:replace="~{fragments/card :: card(true,${mindcard.getImage() != null} ? ${mindcard.image.getImagePath()} : null, ${mindcard.title}, ${mindcard.description}}"></div>

<div class="card card-main" style="margin: auto;">
    <img th:if="${mindcard.getImage() != null}" th:src="@{${mindcard.image.getImagePath()}}" class="cardimg">
    <div class="cardtext" th:classappend="${mindcard.getImage() != null} ? 'cardtext-right' : 'cardtext-full'">
        <h4 th:text="${mindcard.title}"><b> MindcardTitle </b></h4>
        <p th:utext="${mindcard.description}"> Description </p>
    </div>
</div>

<hr>

<div style="text-align: center;">
    <div class="infocard-grid">
        <div class="card" th:each="infocard: ${infocards}" style="flex: 0 0 auto;">
            <img th:if="${infocard.getImage() != null}" th:src="@{${infocard.image.getImagePath()}}" class="cardimg">
            <div class="cardtext" th:classappend="${infocard.getImage() != null} ? 'cardtext-right' : 'cardtext-full'">
                <p th:utext="${infocard.description}"> Description </p>
            </div>
        </div>
    </div>
</div>

</body>