<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" th:href="@{/css/cards.css}"/>

    <style>
        body {
            background-color: #444;
        }
    </style>

    <meta charset="UTF-8">
    <title th:text="${mindcard.title}">Mindcard</title>
</head>

<body>

<div th:insert="~{fragments/pageLayout :: navbar('')}"></div>

<br style="height:10px;">

<div th:replace="~{fragments/card :: card(isMain=${true},image=${mindcard.image}, title=${mindcard.title}, description=${mindcard.description})}"></div>

<hr>

<div style="text-align: center;">
    <div class="infocard-grid">
        <th:block th:each="infocard: ${infocards}">
            <div th:replace="~{fragments/card :: card(isMain=${false},image=${infocard.image}, title='', description=${infocard.description})}" style="flex: 0 0 auto;"></div>
        </th:block>
    </div>
</div>

</body>